{% include 'Main_templates/title.html' %}
<style type="text/css">
    a:link{
        text-decoration: none;
    }
</style>
<br>

<b>
    <h2>===>This system is providing<font color="red" size="5">"REST FULL web Services"</font>and the Response is JSON Response.</h2>
    <br>The following are the several services providing by the online child abuse system
</b>

<center>
    <br>
    <table align="center" border="2" bgcolor="yellow" width="700">
        <tr>
            <th>SERVICES</th>
        </tr>
        <tr>
            <th><a href="/Child_Web_Services/police_registration_request/"><h3>Police Station Registering to the System Service</h3></a></th>
        </tr>
        <tr>
            <th>
                <a href="/Child_Web_Services/police_details_update/"><h3>Police Station update service</h3></a>
            </th>
        </tr>
        <tr>
            <th><a href="/Child_Web_Services/ngo_registration_request/"><h3>NGO'S Registering to the System Service</h3></a></th>
        </tr>
        <tr>
            <th><a href="/Child_Web_Services/ngo_details_update/"><h3>NGO'S update service</h3></a></th>
        </tr>
        <tr>
            <th><a href="/Child_Web_Services/get_police_data/"><h3>police station details Service</h3></a></th>
        </tr>
        <tr>
            <th><a href="/Child_Web_Services/get_ngo_data/"><h3>NGO"S details Service</h3></a></th>
        </tr>
        <tr>
            <th><a href="/Child_Web_Services/get_total_complaint_details/"><h3>Child Complaint details Service</h3></th>
        </tr>

    </table>
</center>